<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiBeo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiBeo.Properties.Settings>
            <setting name="SyncFolderStructureOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncedStopWords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayPath" serializeAs="String">
                <value>\Ablage</value>
            </setting>
        </LiBeo.Properties.Settings>
    </userSettings>
</configuration>